name: "build"
on: [push, pull_request]
jobs:
  launch-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.6'
          bundler-cache: true
      - name: Install gems
        continue-on-error: true
        run: |
          gem install bundler
          bundler install
      - name: Build
        run: |
          chmod +x *.sh
          ./build.sh
      # - name: Set up Python
      #   uses: actions/setup-python@v4
      #   with:
      #       python-version: '3.10'
      # - name: Get bibliography
      #   run: |
      #     chmod +x *.sh
      #     ./build.sh
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.6.0
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: _site # The folder the action should deploy.
      - name: Push changes 1
        if: github.repository == 'w4bo/w4bo.github.io'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.MF_PAT }}
          branch: master
          force: true
          repository: 'matteo-francia/matteo-francia.github.io'
      - name: Push changes 2
        if: github.repository == 'w4bo/w4bo.github.io'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.MF2_PAT }}
          branch: master
          force: true
          repository: 'mttfrn/mttfrn.github.io'
