name: "build"
on: [push, pull_request]
jobs:
  launch-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.6'
          bundler-cache: true
      - name: Install gems
        continue-on-error: true
        run: |
          gem install bundler
          bundler install
      - name: Build
        run: |
          chmod +x *.sh
          ./build.sh
          cd _site
          zip -r ../website.zip *
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: _site # The folder the action should deploy.
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.MF2_PAT }}
          branch: master
          force: true
          repository: 'mttfrn/mttfrn.github.io'
